<html>
    <head>
	    <title>welcome register</title>
	</head>
	<body>
	    <form method='POST'>
			{% module xsrf_form_html() %}
			用户名:<input type='text' name='username' /></br>
			密码:<input type='password' name='password1' /></br>
			确认密码:<input type='password' name='password2' /></br>
			性别:<select name='sex'>
					<option value='male' />男</option>
					<option value='female' />女</option>
				</select></br>
			年龄:<input type='text' name='age' />
			<input type='submit' name='submit' value='注册' />
		</form>
	</body>
</html>
